UiSTemplatev1Beamer
UiSTemplatev1Beamer.zip
.DS_Store
*.aux
*.log
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.out
*.toc
.wt.lb
*.tex~
instructions.tex
figtest.tex
outline.txt
main.pdf
test.pdf
test.tex
